html,
body {
  padding: 0;
  margin: 0;
  background-color: #bbb;
  font-family: sans-serif;
}
#upload-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
body.uploading #upload-scene {
  display: block;
}
#upload-button {
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 60px);
  width: 240px;
  height: 120px;
  color: #555;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  border: solid 5px #555;
  transition: opacity 0.25s ease;
  -webkit-transition: opacity 0.25s ease;
  opacity: 1;
}
#upload-button.hidden {
  opacity: 0;
}
#upload-scene.dragging #upload-button {
  border-style: dashed;
}
#edit-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
body.editing #edit-scene {
  display: block;
}
#back-button {
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  background-image: url('../img/back.svg');
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  font-size: 0;
  color: transparent;
  opacity: 1;
  transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transition: opacity 0.25s ease, transform 0.25s ease;
}
#back-button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
#back-button.hidden {
  opacity: 0;
  pointer-events: none;
}
#back-button.hidden:hover {
  transform: none;
  -webkit-transform: none;
}
.labeled-field {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}
.labeled-field label {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  width: calc(50% - 5px);
  text-align: right;
  margin-right: 10px;
  font-size: 16px;
}
.vec-component {
  margin: 0;
  padding: 0 5px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
}
.pane {
  position: absolute;
  top: 100px;
  left: calc(50% - 250px);
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  text-align: center;
  background-color: white;
  font-family: sans-serif;
  -webkit-transition: opacity 0.25s ease, -webkit-transform 0.25s ease;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.pane.hidden {
  opacity: 0;
  transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
}
@media screen and (max-width: 520px) {
  .pane {
    width: calc(100% - 20px);
    left: 10px;
  }
}
.unsupported-pane h1 {
  font-weight: 300;
}
button:focus {
  outline: 0;
}
.edit-button {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  background-color: #777;
  border: none;
  color: white;
  cursor: pointer;
}
.edit-button:hover {
  background-color: #555;
}
.save-button {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  background-color: #777;
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.save-button:hover {
  background-color: #555;
}
